<%= simple_form_for :search, method: :get do |f| %>
  <div class="form-row">

    <div class="form-group col-md-3">
      <%= f.input :begin_date, label: 'From', as: :string, required: false, input_html: {class: "datepicker", id: "range_start"} %>
    </div>

    <div class="form-group col-md-3">
      <%= f.input :end_date, label: 'To', as: :string, required: false, input_html: {class: "datepicker", id: "range_end"} %>
    </div>

    <div class="form-group col-md-3 buttons">
      <button name="button" type="submit" class="btn btn-light-pink">
        <i class="fas fa-search"></i> Search
      </button>
      <%= link_to 'All vans', vans_path, class: "btn btn-light-pink" %>
    </div>
  </div>
<% end %>
