// Specific CSS for your home-page
.home-content {
  margin: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.home-info {
  padding: 30px;
}

.home-content .search__bar{
  background: hsla(0,0%,100%,.8);
  border-radius: 3px;
  align-self: flex-start;
  margin-top: 80px;
  margin-left: 30px;
  padding-bottom: 0;
}

.home-content.searchBar_item--when{
  width: 75%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  label{
    align-self: stretch;
  }
}

.home-content.searchBar_item--submit{
  width: 25%;
  padding: 15px 15px 15px 0;
  align-self: center;
}


