.vans-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 4px;
  box-sizing: border-box;
}
.van > a:hover{
  text-decoration: none;
}
.van-list{
  padding-top: 15px;


  .container {
      margin-right: auto;
      margin-left: auto;
      padding-left: 15px;
      padding-right: 15px;
  }

  .row{
    margin: 0;
  }

  .search__bar{
    // background-color: rgba(255,255,255,.8);
    margin-bottom: 15px;
    box-sizing: border-box;
  }
}
.search-container{
 .search__bar{
    border-radius: 3px;
    align-self: flex-start;
    padding: 10px 10px 10px 0;
  }
  .search__bar_item{
    background: hsla(0,0%,100%,.8);
    margin-right: 4px;
  }
}




// Show
#unav_dates{
  visibility: hidden;
}
.modal-window {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;

  &:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
  &>div {
    width: 525px;
    height: 450px;
    position: absolute;
    top: 42.5%;
    left: 79%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background: #ffffff;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 2px;
  }
  .card__price{
    display: inline-block;
    position: absolute;
    top: 2px;
    font-size: 32px;
  }
}
.rent__form{
  margin-top: 45px;
  margin-left: 15px;

  &>label{
    margin-right: 15px !important;
  }
}

.hidden{
  visibility: hidden
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
  &:hover {
    color: black;
  }
}
