<div class="banner banner-home" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "banner.jpg" %>');">
  <div class="container">
    <h1>Vanbnb brings <strong>awesome vans</strong> to <strong>travelers</strong>!</h1>
    <p>Have a nice experience and rent vans from people near you.</p>
    <%= link_to "See vans", vans_path, class: 'btn btn-light-pink' %>
  </div>
</div>
