.card-van {
  padding: 8px 6px 12px 6px !important;
  color: $black;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  height: 100%;
  position: relative;

  img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }

  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  p {
    font-size: 12px;
    opacity: .7;
    margin: 0;
  }

  .card-van-pricing{
    background-color: $ligth-pink;
    opacity: .8;
    color: white;
    padding: 8px;
    position: absolute;
    right: 16px;
    top: 16px;
  }
}

.card-van .card-van-infos {
  padding: 16px 16px 4px 16px;
  position: relative;

  .card-van-owner {
    position: absolute;
    right: 16px;
    top: -20px;
    width: 40px;
    height: 40px;
  }
}
.card-infos{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
