.header-add-van {
    opacity: 0.96;
}

.form-add-van {
  padding-top: 20px;
}

.background-color-add {
  background-color: rgba(117, 128, 137, 0.05);
  border: none;
  
}
.input-form {
  font-family: $default-font;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  background-color: white;
  opacity: 0.95;
  padding-top: 20px;
  margin-bottom: 50px;
  padding-bottom: 20px;
  border-radius: 5px;
}

.remove-border {
  border: 0px;
  // box-shadow: 0 0 15px rgba(0,0,0,0.05);
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #333333;
  font-family: $default-font;
  font-weight: 300;
  margin: 1rem;
  padding-top: 1rem;
  padding-right: 0;
  padding-bottom: 1rem;
  padding-left: 0;
}


.background-image {
 background-image: asset-url("background-add.jpg");
 background-size: cover;
}
.btn-add-van{
  position: absolute;
  right: 45px;
  bottom: 46px;
  background-color: $ligth-pink;
  color: white;
  border-radius: 5px;
}

.input-picture {
  border-radius: 5px;
  position: absolute;
  bottom: 35px;
  cursor: pointer;
}

#van-picture {
  border-radius: 5px;
  color: purple;
}

.title-add {
  font-family: $default-font;
}


// Label add picture
.label-file {
    cursor: pointer;
    color: #00b1ca;
    font-weight: bold;
}

.label-file:hover {
    color: #25a5c4;
}

.input-file {
    display: none;
}


.smaller-div-input {
  height: 80px;
}