.login-form {
  background-color: white;
  .btn {
    width: 100%;
  }
}
.render {
  margin-top: 6px;
  display: flex;
  justify-content: space-between;
  margin-left: 0px
}
.log-title h1 {
  color: black;
  text-shadow: none;
}
.render {
  color: black;
}
