.signup-form {
  background-color: white;
  .btn {
    width: 100%;
  }
  .text-muted {
    color: black !important;
  }
}
.sign-up-title h1 {
  color: black;
  text-shadow: none;
}

.mt-2 a {
  color: #FF595E;
}

